* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
  }
  
  /*---------------------------------------**CSS KHADIJA**---------------------------------------*/
  
  /*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
  /*-----------------------------------------**CSS SAAF**----------------------------------------*/
  
  /*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
  /*-----------------------------------------**CSS NAJJAR**----------------------------------------*/
  
  /*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
  /*-----------------------------------------**CSS ILYASS**----------------------------------------*/
  
  /*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
  /*-----------------------------------------**CSS SAMIR**----------------------------------------*/
.section_pricing h1{
    color: orange;
    text-align: center;
    font-size: 4rem;
    margin: 6% 0 6% 0;
}
.responsive{
    width: 100%;
}
.para{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5%;
}
.container_pricing{
    display: flex;
    justify-content: space-around;
   

}
.container_pricing_items{
    border: 3px solid grey;
    padding: 4% 4% 4% 4%;
    width: 20%;
    border-radius: 7px;
    margin-bottom: 10%;

}
.container_pricing_items1{
    text-align: center;
    color: orange;
    margin: 5% 0 20% 0;
    font-size: 2rem;
}
.container_pricing_items2{
    margin: 5% 0 5% 0;
    font-size: 2rem;
}
.container_pricing_items3{
    text-align: center;
    font-size: 2rem;
    margin: 20% 0 3% 0;  
}
.button_pricing{
    padding: 2% 13% 2% 13%;
    border-radius: 7px;
    background-color: orange;
    border: none;
}
.button_pricing_1{
    padding: 2% 13% 2% 13%;
    border-radius: 7px;
    background-color: orange;
    border: none;
    margin-top: 20%;
}
.container_pricing_items11{
    text-align: center;
    color: orange;
    margin: 5% 0 20% 0;
    font-size: 2rem;
}
.container_pricing_items22{
  
    font-size: 2rem;
}
.container_pricing_items33{
    text-align: center;
    font-size: 2rem;
    margin: 20% 0 3% 0;  
}

  /*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
  /*-----------------------------------------**CSS SANAE**----------------------------------------*/
.technology{
    background-color:#f4f4f4;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    h1{
        grid-column: 1/ span 5;
        grid-row: 1/2; 
        align-content: center;
        span{color:#ff7315;}
    }
    .technology__1{
        grid-column: 1/2;
        grid-row: 2/2;
    } 
    .technology__2{
        grid-column: 2/3;
        grid-row: 2/2;
    }   
    .technology__3{
        grid-column: 3/4;
        grid-row: 2/2;
    }
    .technology__4{
        grid-column: 4/5;
        grid-row: 2/2;
    }
}
.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#232020;
    .info{
        grid-column: 1/2;
        padding: 5%;
        color:#f4f4f4;
        text-align: justify;
        h1{margin: 10px ;}
        .contact{
            margin-top: 200px;
            .contact__address, .contact__phone{width: 15px;}
            h3,p{font-size: small;}
        }   
    }
    .form{
        width: 70%;
        margin: 20px auto;
        border-radius: 20px;
        background-color:#f4f4f4;
        color: #3a3535;
        grid-column: 2/3;
        padding: 5%;
        display: flex;
        flex-direction: column;
        .form__input{
            display: block;
            margin: 2% 0;
            width: 90%;
            height: 40px;
            border-radius: 10px;
        }
        .textarea{width: 90%; border-radius: 10px;}
        .form__input--submit{
            background-color: #3a3535;
            color: #f4f4f4;
            width: 30%;
            height: 30px;
            border: none;
            box-shadow: 0 5px 6px #3a35358c;
        }
        
    }    
}
.media{
    padding: 2%;
    background-color: #3a3535;
    color: #f4f4f4;
    text-align: center;
    .media__icon{width: 3%; }
    p{font-size: x-small;}
    
}


  /*----------------------------------------**FIN CSS SANA**-------------------------------------*/
  @media screen and (max-width: 1000px) {
    /*------------------------Responsive pour Tablette - KHADIJA-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*------------------------Responsive pour Tablette - SAAF---------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - NAJJAR-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - ILYASS-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - SAMIR--------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - SANAE-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  }
  
  @media screen and (max-width: 480px) {
    /*------------------------Responsive pour Mobile - KHADIJA-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*------------------------Responsive pour Mobile - SAAF---------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - NAJJAR-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - ILYASS-----------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - SAMIR--------------------------*/
   
    .responsive{
         width: 100%;
        }
        .container_pricing{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          
        
        }
        .container_pricing_items11{
            text-align: center;
            color: orange;
            margin: 5% 0 20% 0;
            font-size: 2rem;
            padding: 0 50% 0 50%;
        }
        .container_pricing_items2{
           
           margin-left: -6%;
           
        }
        .container_pricing_items{
            padding: 0 80% 0 10%;
            margin-left:5%;
        }
    
    
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - SANAE-------------------------*/
  
    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
}