* {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  -webkit-box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

/*---------------------------------------**CSS KHADIJA**---------------------------------------*/
/*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
/*-----------------------------------------**CSS SAAF**----------------------------------------*/
/*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
/*-----------------------------------------**CSS NAJJAR**----------------------------------------*/
.page__section {
  padding-bottom: 5%;
  margin: auto;
}

.table__page {
  width: 80%;
  margin: auto;
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.txt__page {
  width: 100%;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.txt__page H1 {
  text-align: center;
}

span {
  color: #EC830B;
}

.content-txt p {
  padding: 6%;
  padding-left: 0;
}

.botona {
  width: 50%;
  padding: 1%;
  margin: auto;
  background-color: blueviolet;
  color: white;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-txt a :active {
  background-color: #EC830B;
}

.content-txt a {
  text-decoration: none;
  color: white;
}

.vid__page {
  width: 90%;
}

.vid__page img {
  width: 100%;
}

.table2__page {
  width: 100%;
  margin: auto;
  padding: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20% 50% 50%;
      grid-template-areas: ". title__page ." "img1__page img2__page img3__page" "img4__page img5__page img6__page";
}

.title__page {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img1__page {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img1__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img2__page {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img2__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img3__page {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img3__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img4__page {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img4__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img5__page {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img5__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img6__page {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img6__page;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/
/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/
.section_pricing h1 {
  color: orange;
  text-align: center;
  font-size: 4rem;
  margin: 6% 0 6% 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
=======
>>>>>>> parent of 4c0f31a... view change
=======
  -webkit-box-sizing: border-box;
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
  -webkit-box-sizing: border-box;
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
  box-sizing: border-box;
=======
          box-sizing: border-box;
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

/*---------------------------------------**CSS KHADIJA**---------------------------------------*/
/*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
/*-----------------------------------------**CSS SAAF**----------------------------------------*/
<<<<<<< HEAD
.saaf {
  width: auto;
  height: 750px;
}

.saaf .saaf__info {
  text-align: center;
  height: 25%;
  display: block;
}

.saaf .saaf__info h1 {
  padding-top: 90px;
  border-bottom: 1px solid #FF7315;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 3rem;
  text-transform: uppercase;
}

.saaf .saaf__info h1 .saaf__info--modifier {
  color: #FF7315;
  font-size: 1rem;
}

.saaf .saaf__info h1 .saaf__info--modifierdeux {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

.saaf .service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 60%;
}

.saaf .service .item {
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  flex-direction: column;
  align-items: center;
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
=======
  flex-direction: column;
  align-items: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
  justify-content: center;
  width: 90%;
}

.saaf .service .item img {
  width: 10%;
  height: 10%;
  margin-bottom: 25px;
}

.saaf .service .item h2 {
  border-bottom: 1px solid #FF7315;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

.saaf .service .item p {
  height: 50%;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  text-align: center;
}

.saaf .service .item .redmi {
  padding-bottom: 30px;
}

=======
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
/*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
/*-----------------------------------------**CSS NAJJAR**----------------------------------------*/
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.page__section {
  padding-bottom: 5%;
  margin: auto;
}

.table__page {
  width: 80%;
  margin: auto;
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
}

.txt__page {
  width: 100%;
  justify-self: stretch;
}

.txt__page H1 {
  text-align: center;
  font-size: 3rem;
}

.title__page h1 {
  font-size: 3rem;
}

span {
  color: #EC830B;
}

.content-txt p {
  padding: 6%;
  padding-left: 0;
}

.botona {
  width: 50%;
  padding: 1%;
  margin: auto;
  background-color: blueviolet;
  color: white;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 4px;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-txt a :active {
  background-color: #EC830B;
}

.content-txt a {
  text-decoration: none;
  color: white;
}

.vid__page {
  width: 90%;
}

.vid__page img {
  width: 100%;
}

.table2__page {
  width: 100%;
  margin: auto;
  padding: 3%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20% 50% 50%;
  grid-template-areas: ". title__page ."
 "img1__page img2__page img3__page"
 "img4__page img5__page img6__page";
}

.title__page {
  grid-area: title__page;
  justify-self: center;
  align-self: center;
}

.img1__page {
  grid-area: img1__page;
  justify-self: center;
  align-self: center;
}

.img2__page {
  grid-area: img2__page;
  justify-self: center;
  align-self: center;
}

.img3__page {
  grid-area: img3__page;
  justify-self: center;
  align-self: center;
}

.img4__page {
  grid-area: img4__page;
  justify-self: center;
  align-self: center;
}

.img5__page {
  grid-area: img5__page;
  justify-self: center;
  align-self: center;
}

.img6__page {
  grid-area: img6__page;
  -ms-grid-column-align: center;
  justify-self: center;
  align-self: center;
}
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/
/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/
.section_pricing h1 {
  color: #FF7315;
  text-align: center;
  font-size: 4rem;
  margin: 6% 0 6% 0;
}

.responsive {
  width: 100%;
}

*
.para {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5%;
}

.container_pricing {
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
  -ms-flex-pack: distribute;
<<<<<<< HEAD
  justify-content: space-around;
>>>>>>> parent of 4c0f31a... view change
=======
      justify-content: space-around;
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
=======
  justify-content: space-around;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
}

.txt__page {
  width: 100%;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.txt__page H1 {
  text-align: center;
  color: #FF7315;
  margin: 5% 0 20% 0;
  font-size: 2rem;
}

<<<<<<< HEAD
.title__page h1 {
  font-size: 3rem;
=======
.container_pricing_items2 {
  margin: 5% 0 5% 0;
  font-size: 2rem;
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

span {
  color: #EC830B;
}

.button_pricing {
  padding: 10% 30% 10% 30%;
  border-radius: 7px;
  background-color: #FF7315;
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
=======
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

<<<<<<< HEAD
.content-txt a :active {
  background-color: #EC830B;
=======
.button_pricing_1 {
  padding: 2% 13% 2% 13%;
  border-radius: 7px;
  background-color: orange;
  border: none;
  margin-top: 20%;
}

.container_pricing_items11 {
  text-align: center;
  color: orange;
  margin: 5% 0 20% 0;
  font-size: 2rem;
}

.container_pricing_items22 {
  font-size: 2rem;
}

.container_pricing_items33 {
  text-align: center;
  font-size: 2rem;
  margin: 20% 0 3% 0;
}

/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
/*-----------------------------------------**CSS SANAE**----------------------------------------*/
<<<<<<< HEAD
.technology {
  background-color: #f4f4f4;
  padding: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  justify-items: center;
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.content-txt a {
  text-decoration: none;
  color: white;
}

.vid__page {
  width: 90%;
}

.vid__page img {
  width: 100%;
}

.table2__page {
  width: 100%;
  margin: auto;
  padding: 3%;
  display: -ms-grid;
  display: grid;
<<<<<<< HEAD
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20% 50% 50%;
      grid-template-areas: ". title__page ."
 "img1__page img2__page img3__page"
 "img4__page img5__page img6__page";
=======
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20% 50% 50%;
  grid-template-areas: ". title__page ." "img1__page img2__page img3__page" "img4__page img5__page img6__page";
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.title__page {
  grid-area: title__page;
<<<<<<< HEAD
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.img1__page {
  grid-area: img1__page;
<<<<<<< HEAD
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3%;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.img2__page {
  grid-area: img2__page;
<<<<<<< HEAD
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.img3__page {
  grid-area: img3__page;
<<<<<<< HEAD
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.img4__page {
  grid-area: img4__page;
<<<<<<< HEAD
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.img5__page {
  grid-area: img5__page;
<<<<<<< HEAD
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.img6__page {
  grid-area: img6__page;
  -ms-grid-column-align: center;
<<<<<<< HEAD
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
=======
  justify-self: center;
  align-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/
/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/
.section_pricing h1 {
  color: orange;
  text-align: center;
  font-size: 3rem;
  margin: 6% 0 6% 0;
}

.responsive {
  width: 100%;
}

.para {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.container_pricing {
  display: flex;
<<<<<<< HEAD
  -ms-flex-pack: distribute;
      justify-content: space-around;
=======
  justify-content: space-around;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
}

.container_pricing_items {
  border: 3px solid grey;
  padding: 4% 4% 4% 4%;
  width: 20%;
  border-radius: 7px;
  margin-bottom: 10%;
}

.container_pricing_items1 {
  text-align: center;
  color: orange;
  margin: 5% 0 20% 0;
  font-size: 2rem;
}

.container_pricing_items2 {
  margin: 5% 0 5% 0;
  font-size: 2rem;
}

.container_pricing_items3 {
  text-align: center;
  font-size: 2rem;
  margin: 20% 0 3% 0;
}

.button_pricing {
  padding: 2% 13% 2% 13%;
  border-radius: 7px;
  background-color: orange;
  border: none;
}

.button_pricing_1 {
  padding: 2% 13% 2% 13%;
  border-radius: 7px;
  background-color: orange;
  border: none;
  margin-top: 20%;
}

.container_pricing_items11 {
  text-align: center;
  color: orange;
  margin: 5% 0 20% 0;
  font-size: 2rem;
}

.container_pricing_items22 {
  font-size: 2rem;
}

.container_pricing_items33 {
  text-align: center;
  font-size: 2rem;
  margin: 20% 0 3% 0;
}

/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
/*-----------------------------------------**CSS SANAE**----------------------------------------*/
=======
>>>>>>> parent of 52350e5... l'ajout de css de section footer
/*----------------------------------------**FIN CSS SANA**-------------------------------------*/
@media screen and (max-width: 1000px) {
  /*------------------------Responsive pour Tablette - KHADIJA-------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*------------------------Responsive pour Tablette - SAAF---------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - NAJJAR-----------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - ILYASS-----------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - SAMIR--------------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - SANAE-------------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
}

@media screen and (max-width: 480px) {
  /*------------------------Responsive pour Mobile - KHADIJA-------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*------------------------Responsive pour Mobile - SAAF---------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - NAJJAR-----------------------*/
<<<<<<< HEAD
<<<<<<< HEAD
  .table__page {
    width: 90%;
    margin: auto;
    text-align: center;
<<<<<<< HEAD
=======
  body {
    width: 80%;
    margin: auto;
  }
  .table__page {
    width: 100%;
    margin: auto;
    text-align: center;
    float: right;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
<<<<<<< HEAD
<<<<<<< HEAD
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "content-txt"
 "vid__page";
=======
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "content-txt"
      "vid__page";
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "content-txt" "vid__page";
>>>>>>> parent of 52350e5... l'ajout de css de section footer
=======
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "content-txt" "vid__page";
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
  }
  .content-txt {
    grid-area: content-txt;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .vid__page {
    grid-area: vid__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
    padding-top: 3%;
  }
  .table2__page {
    width: 100%;
<<<<<<< HEAD
    margin: auto;
    display: grid;
<<<<<<< HEAD
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-auto-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr;
<<<<<<< HEAD
        grid-template-areas: "title__page"
 "img1__page"
 "img2__page"
 "img3__page"
 "img4__page"
 "img5__page"
 "img6__page";
=======
    grid-template-areas: "title__page"
      "img1__page"
      "img2__page"
      "img3__page"
      "img4__page"
      "img5__page"
      "img6__page";
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
    padding-left: 2%;
    padding-right: 2%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "title__page" "img1__page" "img2__page" "img3__page" "img4__page" "img5__page" "img6__page";
>>>>>>> parent of 52350e5... l'ajout de css de section footer
=======
    grid-template-columns: 100%;
    grid-auto-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "title__page" "img1__page" "img2__page" "img3__page" "img4__page" "img5__page" "img6__page";
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
  }
  .title__page {
    grid-area: title__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .img1__page {
    grid-area: img1__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .img2__page {
    grid-area: img2__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .img3__page {
    grid-area: img3__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .img4__page {
    grid-area: img4__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .img5__page {
    grid-area: img5__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
=======
        -ms-grid-row-align: center;
        align-self: center;
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  }
  .img6__page {
    grid-area: img6__page;
<<<<<<< HEAD
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        -ms-grid-row-align: center;
        align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    -ms-grid-row-align: center;
=======
    justify-self: center;
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    align-self: center;
>>>>>>> parent of 4c0f31a... view change
  }
<<<<<<< HEAD
=======
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
=======
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - ILYASS-----------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - SAMIR--------------------------*/
  .responsive {
    width: 100%;
  }
  .container_pricing {
    display: flex;
<<<<<<< HEAD
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
<<<<<<< HEAD
  .container_pricing_items1 {
=======
  .container_pricing_items11 {
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
=======
    flex-direction: column;
    justify-content: space-around;
  }
  .container_pricing_items11 {
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
    text-align: center;
    color: orange;
    margin: 5% 0 20% 0;
    font-size: 2rem;
  }
<<<<<<< HEAD
<<<<<<< HEAD
  .container_pricing_items22 {
    font-size: 2rem;
  }
  .container_pricing_items33 {
    text-align: center;
    font-size: 2rem;
    margin: 20% 0 3% 0;
  }
  /*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
  /*-----------------------------------------**CSS SANAE**----------------------------------------*/
  .technology {
    background-color: #f4f4f4;
    padding: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
    justify-items: center;
  }
  .technology h1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/ span 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology h1 span {
    color: #ff7315;
  }
  .technology .technology__1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .technology .technology__2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .technology .technology__3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .technology .technology__4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .contact-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-color: #232020;
  }
  .contact-info .info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: 5%;
    color: #f4f4f4;
    text-align: justify;
  }
  .contact-info .info h1 {
    margin: 10px;
  }
  .contact-info .info .contact {
    margin-top: 200px;
  }
  .contact-info .info .contact .contact__address,
  .contact-info .info .contact .contact__phone {
    width: 15px;
  }
  .contact-info .info .contact h3,
  .contact-info .info .contact p {
    font-size: small;
  }
  .contact-info .form {
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #f4f4f4;
    color: #3a3535;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info .form .form__input {
    display: block;
    margin: 2% 0;
    width: 90%;
    height: 40px;
    border-radius: 10px;
  }
  .contact-info .form .textarea {
    width: 90%;
    border-radius: 10px;
  }
  .contact-info .form .form__input--submit {
    background-color: #3a3535;
    color: #f4f4f4;
    width: 30%;
    height: 30px;
    border: none;
    -webkit-box-shadow: 0 5px 6px #3a35358c;
            box-shadow: 0 5px 6px #3a35358c;
  }
  .media {
    padding: 2%;
    background-color: #3a3535;
    color: #f4f4f4;
    text-align: center;
  }
  .media .media__icon {
    width: 3%;
  }
  .media p {
    font-size: x-small;
  }
  /*----------------------------------------**FIN CSS SANA**-------------------------------------*/
}

@media screen and (max-width: 480px) and (max-width: 1000px) {
  /*------------------------Responsive pour Tablette - KHADIJA-------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*------------------------Responsive pour Tablette - SAAF---------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - NAJJAR-----------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - ILYASS-----------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - SAMIR--------------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Tablette - SANAE-------------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
}

@media screen and (max-width: 480px) and (max-width: 480px) {
  /*------------------------Responsive pour Mobile - KHADIJA-------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*------------------------Responsive pour Mobile - SAAF---------------------------*/
  /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - NAJJAR-----------------------*/
=======
        -ms-grid-row-align: center;
        align-self: center;
  }
>>>>>>> parent of 52350e5... l'ajout de css de section footer
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - ILYASS-----------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - SAMIR--------------------------*/
  .responsive {
    width: 100%;
  }
  .container_pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .container_pricing_items11 {
    text-align: center;
    color: orange;
    margin: 5% 0 20% 0;
    font-size: 2rem;
    padding: 0 50% 0 50%;
  }
=======
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
=======
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
  .container_pricing_items2 {
    margin-left: -6%;
  }
  .container_pricing_items {
    padding: 0 80% 0 10%;
    margin-left: 5%;
  }
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
  /*-----------------------Responsive pour Mobile - SANAE-------------------------*/
  /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/*# sourceMappingURL=style.css.map */

=======
/*# sourceMappingURL=style.css.map */
>>>>>>> parent of 4c0f31a... view change
=======
/*# sourceMappingURL=style.css.map */
>>>>>>> parent of 4c0f31a... view change
=======

/*# sourceMappingURL=style.css.map */
>>>>>>> parent of 4c0f31a... view change
=======
/*# sourceMappingURL=style.css.map */
>>>>>>> parent of 4c0f31a... view change
=======

/*# sourceMappingURL=style.css.map */
>>>>>>> parent of 4c0f31a... view change
=======
/*# sourceMappingURL=style.css.map */
>>>>>>> parent of d4b58fa... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
=======
>>>>>>> parent of 112af4b... Merge branch 'dev' of https://github.com/samir324/Agence_Web_version_2 into dev
