* {
padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}

/*---------------------------------------**CSS KHADIJA**---------------------------------------*/

/*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
/*-----------------------------------------**CSS SAAF**----------------------------------------*/

<<<<<<< HEAD
<<<<<<< HEAD
.saaf {
    width: auto;
    height: 750px;
=======
=======
>>>>>>> parent of 4c0f31a... view change
/*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
/*-----------------------------------------**CSS NAJJAR**----------------------------------------*/

/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/

/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/
.section_pricing h1 {
    color: orange;
    text-align: center;
    font-size: 4rem;
    margin: 6% 0 6% 0;
    =======padding: 0;
    margin: 0;
    box-sizing: border-box;
    >>>>>>>112af4b2faf7bdf7f2d0471e29133c6d559b60da
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}

/*---------------------------------------**CSS KHADIJA**---------------------------------------*/

/*-------------------------------------**FIN CSS KHADIJA**-------------------------------------*/
/*-----------------------------------------**CSS SAAF**----------------------------------------*/

.saaf {
    width: auto;
    height: 750px;

<<<<<<< HEAD
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
    .saaf__info {
        text-align: center;
        height: 25%;
        display: block;

        h1 {
            padding-top: 90px;
            border-bottom: 1px solid #FF7315;
            text-align: center;
            width: 40%;
            margin: 0 auto;
            letter-spacing: 1px;
            font-size: 3rem;
            text-transform: uppercase;

            .saaf__info--modifier {
                color: #FF7315;
                font-size: 1rem;

            }

            .saaf__info--modifierdeux {
                font-weight: bold;
                font-size: 2rem;
                color: black;
            }

        }
    }

    .service {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: 60%;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;

            img {
                width: 10%;
                height: 10%;
                margin-bottom: 25px;
            }

            h2 {
                border-bottom: 1px solid #FF7315;
                margin: 0 auto;
                font-weight: bold;
                text-transform: uppercase;


            }

            p {
                height: 50%;
                text-align: left;
                padding-left: 10px;
                padding-top: 20px;
                text-align: center;
            }

            .redmi {
                padding-bottom: 30px;
            }



        }
    }
}



/*----------------------------------------**FIN CSS SAAF**-------------------------------------*/
/*-----------------------------------------**CSS NAJJAR**----------------------------------------*/
.page__section {
    padding-bottom: 3%;
    margin: auto;
}

.table__page {
    width: 80%;
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}

.txt__page {
    width: 100%;
    justify-self: stretch;
}

.txt__page H1 {
    text-align: center;
    font-size: 3rem;
}

.title__page h1 {
    font-size: 3rem;
}

span {
    color: #EC830B;
}

.content-txt p {
    padding: 6%;
    padding-left: 0;
}

.botona {
    width: 50%;
    padding: 1%;
    margin: auto;
    background-color: blueviolet;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-txt a :active {
    background-color: #EC830B;
}

.content-txt a {
    text-decoration: none;
    color: white;
}

.vid__page {
    width: 90%;
}

.vid__page img {
    width: 100%;
}

.table2__page {
    width: 100%;
    margin: auto;
    padding: 3%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 20% 50% 50%;
    grid-template-areas: ". title__page ."
        "img1__page img2__page img3__page"
        "img4__page img5__page img6__page";
}

.title__page {
    grid-area: title__page;
    justify-self: center;
    align-self: center;
}

.img1__page {
<<<<<<< HEAD
<<<<<<< HEAD
  grid-area: img1__page;
  justify-self: center;
  align-self: center;
=======
=======
>>>>>>> parent of 4c0f31a... view change
    grid-area: img1__page;
    justify-self: center;
    align-self: center;
    padding-top: 3%;
<<<<<<< HEAD
>>>>>>> parent of 4c0f31a... view change
=======
>>>>>>> parent of 4c0f31a... view change
}

.img2__page {
    grid-area: img2__page;
    justify-self: center;
    align-self: center;
}

.img3__page {
    grid-area: img3__page;
    justify-self: center;
    align-self: center;
}

.img4__page {
    grid-area: img4__page;
    justify-self: center;
    align-self: center;
}

.img5__page {
    grid-area: img5__page;
    justify-self: center;
    align-self: center;
}

.img6__page {
    grid-area: img6__page;
    -ms-grid-column-align: center;
    justify-self: center;
    align-self: center;
}


/*----------------------------------------**FIN CSS NAJJAR**-------------------------------------*/
/*-----------------------------------------**CSS ILYASS**----------------------------------------*/

/*----------------------------------------**FIN CSS ILYASS**-------------------------------------*/
/*-----------------------------------------**CSS SAMIR**----------------------------------------*/
.section_pricing h1 {
  color: #FF7315;
  text-align: center;
  font-size: 3rem;
  margin: 6% 0 6% 0;
}

.responsive {
    width: 100%;
}
*
.para {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}

.container_pricing {
    display: flex;
    justify-content: space-around;


}

.container_pricing_items {
    border: 3px solid grey;
    padding: 4% 4% 4% 4%;
    width: 20%;
    border-radius: 7px;
    margin-bottom: 10%;

}

.container_pricing_items1 {
  text-align: center;
  color: #FF7315;
  margin: 5% 0 20% 0;
  font-size: 2rem;
}

.container_pricing_items2 {
    height: 50%;
    font-size: 2rem;
}

.container_pricing_items3 {
    text-align: center;
    font-size: 2rem;
    margin: 20% 0 3% 0;
}

.button_pricing {
  padding: 10% 30% 10% 30%;
  border-radius: 7px;
  background-color: #FF7315;
  border: none;
}




/*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
/*-----------------------------------------**CSS SANAE**----------------------------------------*/

/*----------------------------------------**FIN CSS SANA**-------------------------------------*/
@media screen and (max-width: 1000px) {
    /*------------------------Responsive pour Tablette - KHADIJA-------------------------*/

    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*------------------------Responsive pour Tablette - SAAF---------------------------*/

    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - NAJJAR-----------------------*/

    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - ILYASS-----------------------*/

    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - SAMIR--------------------------*/

    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Tablette - SANAE-------------------------*/

    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
}

@media screen and (max-width: 480px) {
    /*------------------------Responsive pour Mobile - KHADIJA-------------------------*/

    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*------------------------Responsive pour Mobile - SAAF---------------------------*/

    /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - NAJJAR-----------------------*/
    .table__page {
        width: 90%;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "content-txt"
            "vid__page";
    }

    .content-txt {
        grid-area: content-txt;
        justify-self: center;
        align-self: center;
    }

    .vid__page {
        grid-area: vid__page;
        justify-self: center;
        align-self: center;
        padding-top: 3%;
    }

    .table2__page {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "title__page"
            "img1__page"
            "img2__page"
            "img3__page"
            "img4__page"
            "img5__page"
            "img6__page";
    }

    .title__page {
        grid-area: title__page;
        justify-self: center;
        align-self: center;
    }

    .img1__page {
        grid-area: img1__page;
        justify-self: center;
        align-self: center;
    }

    .img2__page {
        grid-area: img2__page;
        justify-self: center;
        align-self: center;
    }

    .img3__page {
        grid-area: img3__page;
        justify-self: center;
        align-self: center;
    }

    .img4__page {
        grid-area: img4__page;
        justify-self: center;
        align-self: center;
    }

    .img5__page {
        grid-area: img5__page;
        justify-self: center;
        align-self: center;
    }

    .img6__page {
        grid-area: img6__page;
        justify-self: center;
        align-self: center;
    }

    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - ILYASS-----------------------*/

    /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
    /*-----------------------Responsive pour Mobile - SAMIR--------------------------*/

    .responsive {
        width: 100%;
    }

    .container_pricing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .container_pricing_items1 {
        text-align: center;
        color: orange;
        margin: 5% 0 20% 0;
        font-size: 2rem;
    }

    .container_pricing_items22 {

        font-size: 2rem;
    }

    .container_pricing_items33 {
        text-align: center;
        font-size: 2rem;
        margin: 20% 0 3% 0;
    }

    /*----------------------------------------**FIN CSS SAMIR**-------------------------------------*/
    /*-----------------------------------------**CSS SANAE**----------------------------------------*/
    .technology {
        background-color: #f4f4f4;
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        justify-items: center;

        h1 {
            grid-column: 1/ span 5;
            grid-row: 1/2;
            align-content: center;

            span {
                color: #ff7315;
            }
        }

        .technology__1 {
            grid-column: 1/2;
            grid-row: 2/2;
        }

        .technology__2 {
            grid-column: 2/3;
            grid-row: 2/2;
        }

        .technology__3 {
            grid-column: 3/4;
            grid-row: 2/2;
        }

        .technology__4 {
            grid-column: 4/5;
            grid-row: 2/2;
        }
    }

    .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #232020;

        .info {
            grid-column: 1/2;
            padding: 5%;
            color: #f4f4f4;
            text-align: justify;

            h1 {
                margin: 10px;
            }

            .contact {
                margin-top: 200px;

                .contact__address,
                .contact__phone {
                    width: 15px;
                }

                h3,
                p {
                    font-size: small;
                }
            }
        }

        .form {
            width: 70%;
            margin: 20px auto;
            border-radius: 20px;
            background-color: #f4f4f4;
            color: #3a3535;
            grid-column: 2/3;
            padding: 5%;
            display: flex;
            flex-direction: column;

            .form__input {
                display: block;
                margin: 2% 0;
                width: 90%;
                height: 40px;
                border-radius: 10px;
            }

            .textarea {
                width: 90%;
                border-radius: 10px;
            }

            .form__input--submit {
                background-color: #3a3535;
                color: #f4f4f4;
                width: 30%;
                height: 30px;
                border: none;
                box-shadow: 0 5px 6px #3a35358c;
            }

        }
    }

    .media {
        padding: 2%;
        background-color: #3a3535;
        color: #f4f4f4;
        text-align: center;

        .media__icon {
            width: 3%;
        }

        p {
            font-size: x-small;
        }

    }


    /*----------------------------------------**FIN CSS SANA**-------------------------------------*/
    @media screen and (max-width: 1000px) {
        /*------------------------Responsive pour Tablette - KHADIJA-------------------------*/

        /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
        /*------------------------Responsive pour Tablette - SAAF---------------------------*/

        /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Tablette" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Tablette - NAJJAR-----------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Tablette - ILYASS-----------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Tablette - SAMIR--------------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Tablette - SANAE-------------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Tablette" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
    }

    @media screen and (max-width: 480px) {
        /*------------------------Responsive pour Mobile - KHADIJA-------------------------*/

        /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - KHADIJA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
        /*------------------------Responsive pour Mobile - SAAF---------------------------*/

        /*-\\\\\\\\\\\\\\\\\FIN "Responsive pour Mobile" - SAAF**\\\\\\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Mobile - NAJJAR-----------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - NAJJAR**\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Mobile - ILYASS-----------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - ILYASS**\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Mobile - SAMIR--------------------------*/

        .responsive {
            width: 100%;
        }

        .container_pricing {
            display: flex;
            flex-direction: column;
            justify-content: space-around;


        }

        .container_pricing_items11{
            text-align: center;
            color: orange;
            margin: 5% 0 20% 0;
            font-size: 2rem;
            padding: 0 50% 0 50%;
        }

        .container_pricing_items2 {

            margin-left: -6%;

        }

        .container_pricing_items {
            padding: 0 80% 0 10%;
            margin-left: 5%;
        }


        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SAMIR**\\\\\\\\\\\\\\\\\\\\\\\-*/
        /*-----------------------Responsive pour Mobile - SANAE-------------------------*/

        /*-\\\\\\\\\\\\\\\\\\**FIN "Responsive pour Mobile" - SANA**\\\\\\\\\\\\\\\\\\\\\\\\-*/
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
    }
>>>>>>> parent of 4c0f31a... view change
=======
    }
>>>>>>> parent of 4c0f31a... view change
